<style>
    body {
        background-color: ${VAR};
        /*background-color: coral;*/
        /*background-color: #0c88b4;*/
        /*background-color: rgba(0,122,333, .5);*/
    }
</style>
<body>
    <div>This is web app with customize-able background color</div>
</body> 